# Busybox version 1.36.1 Configuration file

# Installation Settings
CONFIG_PREFIX="./_install"
CONFIG_INSTALL_APPLET_SYMLINKS=y
CONFIG_INSTALL_APPLET_HARDLINKS=n
CONFIG_INSTALL_APPLET_SCRIPT_WRAPPERS=n
CONFIG_INSTALL_APPLET_DONT=n
CONFIG_INSTALL_SH_APPLET_SYMLINK=y
CONFIG_INSTALL_SH_APPLET_HARDLINK=n
CONFIG_INSTALL_SH_APPLET_SCRIPT_WRAPPER=n

# Settings
CONFIG_DESKTOP=y
CONFIG_EXTRA_COMPAT=n
CONFIG_FEDORA_COMPAT=n
CONFIG_INCLUDE_SUSv2=y
CONFIG_LONG_OPTS=y
CONFIG_SHOW_USAGE=y
CONFIG_FEATURE_VERBOSE_USAGE=y
CONFIG_FEATURE_COMPRESS_USAGE=y
CONFIG_LFS=y
CONFIG_PAM=n
CONFIG_FEATURE_DEVPTS=y
CONFIG_FEATURE_UTMP=y
CONFIG_FEATURE_WTMP=y
CONFIG_FEATURE_PIDFILE=y
CONFIG_PID_FILE_PATH="/var/run"
CONFIG_BUSYBOX=y
CONFIG_FEATURE_SHOW_SCRIPT=y
CONFIG_FEATURE_INSTALLER=y
CONFIG_INSTALL_NO_USR=y
CONFIG_FEATURE_SUID=y
CONFIG_FEATURE_SUID_CONFIG=y
CONFIG_FEATURE_SUID_CONFIG_QUIET=y
CONFIG_FEATURE_PREFER_APPLETS=n
CONFIG_BUSYBOX_EXEC_PATH="/proc/self/exe"
CONFIG_SELINUX=n
CONFIG_FEATURE_CLEAN_UP=n
CONFIG_FEATURE_SYSLOG_INFO=y

# Build Options
CONFIG_STATIC=y
CONFIG_NOMMU=n
CONFIG_CROSS_COMPILER_PREFIX=""
CONFIG_SYSROOT=""
CONFIG_EXTRA_CFLAGS=""
CONFIG_EXTRA_LDFLAGS=""
CONFIG_EXTRA_LDLIBS=""
CONFIG_USE_PORTABLE_CODE=y
CONFIG_STACK_OPTIMIZATION_386=n
CONFIG_STATIC_LIBGCC=n
CONFIG_DEBUG=n
CONFIG_DEBUG_PESSIMIZE=n
CONFIG_DEBUG_SANITIZE=n
CONFIG_UNIT_TEST=n
CONFIG_WERROR=n
CONFIG_FLOAT_DURATION=n
CONFIG_FEATURE_RTMINMAX=y
CONFIG_FEATURE_RTMINMAX_USE_LIBC_DEFINITIONS=y
CONFIG_FEATURE_BUFFERS_USE_MALLOC=n
CONFIG_FEATURE_BUFFERS_GO_ON_STACK=y
CONFIG_FEATURE_BUFFERS_GO_IN_BSS=n
CONFIG_PASSWORD_MINLEN=6
CONFIG_MD5_SMALL=1
CONFIG_SHA3_SMALL=1
CONFIG_FEATURE_FAST_TOP=y
CONFIG_FEATURE_ETC_NETWORKS=y
CONFIG_FEATURE_ETC_SERVICES=y
CONFIG_FEATURE_EDITING=y
CONFIG_FEATURE_EDITING_MAX_LEN=1024
CONFIG_FEATURE_EDITING_VI=n
CONFIG_FEATURE_EDITING_HISTORY=255
CONFIG_FEATURE_EDITING_SAVEHISTORY=y
CONFIG_FEATURE_REVERSE_SEARCH=y
CONFIG_FEATURE_TAB_COMPLETION=y
CONFIG_FEATURE_USERNAME_COMPLETION=y
CONFIG_FEATURE_EDITING_FANCY_PROMPT=y
CONFIG_FEATURE_EDITING_WINCH=y
CONFIG_FEATURE_EDITING_ASK_TERMINAL=y

# Required Applets
CONFIG_INIT=y
CONFIG_LOGIN=y
CONFIG_FEATURE_SHADOWPASSWDS=y
CONFIG_MOUNT=y
CONFIG_FEATURE_MOUNT_LOOP=y
CONFIG_FEATURE_MOUNT_FLAGS=y
CONFIG_FEATURE_MOUNT_FSTAB=y
CONFIG_FDISK=y
CONFIG_CFDISK=y
CONFIG_MKFS_EXT2=y
CONFIG_MKFS_VFAT=y
CONFIG_FEATURE_FDISK_WRITABLE=y
CONFIG_FEATURE_FDISK_ADVANCED=y
CONFIG_FEATURE_GPT_LABEL=y
CONFIG_FEATURE_FDISK_BLKSIZE=y

# Shell
CONFIG_ASH=y
CONFIG_ASH_BASH_COMPAT=y
CONFIG_ASH_JOB_CONTROL=y
CONFIG_ASH_ALIAS=y
CONFIG_ASH_GETOPTS=y
CONFIG_ASH_BUILTIN_ECHO=y
CONFIG_ASH_BUILTIN_TEST=y
CONFIG_ASH_CMDCMD=y
CONFIG_ASH_RANDOM_SUPPORT=y
CONFIG_ASH_EXPAND_PRMT=y
CONFIG_ASH_OPTIMIZE_FOR_SIZE=y

# Core Utils
CONFIG_CP=y
CONFIG_MV=y
CONFIG_RM=y
CONFIG_MKDIR=y
CONFIG_RMDIR=y
CONFIG_CAT=y
CONFIG_CHMOD=y
CONFIG_CHOWN=y
CONFIG_GREP=y
CONFIG_FIND=y
CONFIG_LS=y
CONFIG_TAR=y

# Additional features
CONFIG_FEATURE_SEAMLESS_XZ=y
CONFIG_FEATURE_SEAMLESS_LZMA=y
CONFIG_FEATURE_SEAMLESS_BZ2=y
CONFIG_FEATURE_SEAMLESS_GZ=y
